// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@include font-face(Roboto, Roboto-Regular);
$font-roboro : "Roboto-Regular";


$white : #fff;
$red-pale : #FF4E50;
$red-dark: #f32d2d;
$gray-dark : #444;
$gray-pale :#777777     ;
$gray: #ccc8c8;
$green: #19d4ca;
$gold: #FFA710 ;
$violet: #667DF3;
$brown:#BD9E6F;
